
<h2>Add a client for <%= @stylist.name() %></h2>



<form action="/stylists/<%= @stylist.id() %>/clients/new" method="post">
    <input type="hidden" name="_method" value="patch">
  <label for="client_id">Client Name:</label>
  <select class="" name="client_id" required>
    <option value="" selected>Select Client</option>
    <% if @clients.any?() %>
      <% @clients.each() do |client| %>
        <option value="<%= client.id() %>"><%= client.name() %></option>
      <% end%>
    <% end %>

  </select>


  <button type="submit" class="btn btn-primary btn-sm">Add Client</button>
</form>

<div class="btn-row">
  <a class="btn btn-default" href="/stylists/<%= @stylist.id() %>">Back</a>
</div>
